<% @posts.each do |detail| %> 
    <h2><%= detail.title %> </h2>
    <h4> Date Seen: <%= detail.date %></h4> 
    <br>
    <h4> Description: </h4> 
    <p> <%= detail.description %> </p> 
    <br>
    <h4>Latitude: <%= detail.latitude %> </h4>  
    <h4> Longitude: <%= detail.longitude %> </h4> 
    <h4> Link to Picture: <%= detail.link %> </h4>
    <br>
    <h5> Edit Post </h5> 
<% end %> 

