<%= @post.title %>
    <br> 
    <h1>Title</h1><%= @post.title %> 
    <br>  
    <p>Date Seen: <%= @post.date %> </p>
    <br> 
    <p>Description: <%= @post.description %> </p>
    <br>   
    <p>Latitude:</p> <%= @post.latitude %> </p> 
    <br> 
    <p>Longitude:</p> <% @post.longitude %> </p> 
    <br> 
    <label>Link to Picture: <%= post.link %>  </label>
    <br> 

